/* ##################  main start ################## */

main {
  animation: fadein 3s;
  width: 100%;
  margin-bottom: 300px;
}

#mapMain {
  width: 90%;
  margin: 50px auto;
}

#mapInfo {
  width: 70%;
  min-width: 530px;
  margin: 0px auto;
}


#colorBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

#colorName {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-family: "NanumRg";
  font-weight: 700;
  border: 1px solid grey;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.521);
}

#colorBar div:nth-child(1) {
  background: #0934E6;
}

#colorBar div:nth-child(2) {
  background: #127E3B;
}

#colorBar div:nth-child(3) {
  background: #FFA800;
}

#colorBar div:nth-child(4) {
  background: #C20000;
}

#map {
  min-width: 340px;
  margin: 10px auto;
  height: 800px;
}

/* ############## MAP START */
/* GMap infowindow X버튼 지우기 */
button.gm-ui-hover-effect {
  visibility: hidden;
}


.gm-style .gm-style-iw-c {
  background-color: rgba(0, 0, 0, 0.692) !important;
  color: white;
  padding: 5px !important;
  text-align: center !important;
  font-size: 2em !important;
  width: 300px;
  min-height: 100px;
  padding: 10px 3px !important;
}

/* scroll bar at the info window */
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  display: none;
}

/* arrow at the bottom */
.gm-style .gm-style-iw-tc::after {
  background-color: rgba(0, 0, 0, 0.692) !important;
}
.emphasis {
  color: #74e609;
  font-size: 1.3em;
  font-weight: 800;
}
/* ##################  main end ################## */